@import "_variables";


a.open-info {
    position: fixed;
    width: 25px; height: 50px;
    left: 0;
    background: #eee;
    transition: .4s left ease-out;
}

a.open-info.clicked { left: 30vw; }

.info-bar {
    position: fixed;
    width: 30vw; height: 100vh;
    left: -800px;
    color: #fff;
    background: #ec7c45;
    padding: 10px;
    transition: .2s width linear, .5s left ease-in-out;

    ul.list {
        list-style: none;
        padding-left: 0;
    }
}

.info-bar.opened {
    left: 0;
}

@media(min-width: 1378px) {
    .info-bar { width: 394px; }
    a.open-info.clicked { left: 394px; }
}

@media(max-width: 1160px) {
    .info-bar { width: 45vw; }
    a.open-info.clicked { left: 45vw; }
    
}

@media(max-width: 780px) {
    .info-bar { width: 80vw; }
    a.open-info.clicked { left: 80vw; }
    
}
