extends ../layout/main

block append content
    .container.error
        img(src="/assets/img/error-emoji.svg" width="30%")
        h2 Arf, la page n'existe pas mais pas d'inquiètude, elle est là pour vous consoler :)