extends ../layout/main

block append content
    .container.error
        img(src="/assets/img/error-emoji.svg" width="30%")
        h2 Arf, le compteur est introuvable pas mais pas d'inquiètude, peut-être qu'il sera disponible très bientôt :)