extends layout/main

block append content
    a.open-info(href="") &raquo;
    .info-bar
        h3 Informations sur le compteur

        ul.list
            li Adresse du compteur : 
                i=data.counterInfo.counterid
            li Type de compteur : 
                i=data.counterInfo.type
            li Tarification : 
                if(data.counterInfo.contract == "base")
                    i Base
                else if(data.counterInfo.contract == "hchp")
                    i Heures pleines / Heures creuses
                else if(data.counterInfo.contract == "ejp")
                    i EJP
                else if(data.counterInfo.contract == "tempo")
                    i Tempo
                else
                    i Inconnu
                    
            li Puissance souscrite : 
                i !{data.counterInfo.contractPower} kVA

            li Type d'installation :
                if(data.counterInfo.threePhases == true)
                    i Triphasé
                else 
                    i Monophasé
            li Mode TIC : 
                if(data.counterInfo.TICMode == "standard")
                    i Standard
                else
                    i Historique


    .container.margin-25-top
        h2 Compteur !{data.counterInfo.counterid}

        section.grid-2.has-gutter
            div(style="width:100%; height: 400px; background: #ddd")
            div(style="width:100%; height: 400px; background: #ddd")
            div(style="width:100%; height: 400px; background: #ddd")
            div(style="width:100%; height: 400px; background: #ddd")

            