extends layout/main

block append content
    .container
        section.grid-3.has-gutter
            .stat        
                .body.blue
                    h2 Consommation du jour
                    span.data 0 kWh

            .stat
                .body.orange
                    h2 Consommation totale
                    span.data 0 kWh

            .stat
                .body.purple
                    h2 Nombre de compteurs
                    span.data= data.nbCounters

    
        h2.margin-25-top Liste des dernières 15 receptions
        table.table--zebra
            thead
                th Identifiant compteur
                th Dernière métrique reçue
                th(width="25%") 
            tbody
                each telemetry in data.lastTelemetries
                    tr
                        td= telemetry.counterid
                        td 
                            span.tag--primary= telemetry.timestamp.toLocaleString()
                        td
                            a(href="/counter/" + telemetry.counterid) Voir la page du compteur