/** 
 * Fichier de configuration de StatsElec
 * Note : La configuration de base est adaptée pour l'utilisateur de Docker.
 */

module.exports = {
    general: {
        host: "0.0.0.0",            // IP ou nom d'hôte sur laquelle le serveur va écouter
        port: 8055,                 // Port du serveur StatsElec
        houseName: "maMaison",      // Nom de la maison (doit être identique sur les "probes")
        metricRetention: 365        // Durée en jour de la rétention des métriques (par défaut: 365 jours)
    },
    mqtt: {
        host: "broker",             // IP ou nom d'hôte sur broker MQTT
        port: 1883                  // Port du broker MQTT
    },
    db: {
        dev: {                      // Configuration de la BDD sur un environnement de développement
            host: "db",
            database: "statselec",
            user: "postgres",
            password: ""
        },
        staging: {                  // Configuration de la BDD sur un environnement staging
            host: "db",
            database: "statselec",
            user: "postgres",
            password: ""
        },
        production: {               // Configuration de la BDD sur un environnement de production
            host: "db",
            database: "statselec",
            user: "postgres",
            password: ""
        }
    }
}