@import "_variables";

.counterInfos {
    background: $light-gray;
    padding: 15px;
    border-radius: 5px;

    ul.informations {
        list-style: none;
        padding-left: 1em;
    }

    @media(max-width: 467px) {
        img.counter {
            width: 50%;
            text-align: center;
        }
    }
}

section#metrics {
    div {
        position: relative;
        width: 100%;
        height: 500px;
    }

    canvas.graphs {
        background: #f9f9f9;
        margin-bottom: 1em;
    }
}