@import "_variables";

.counterInfos {
    background: $light-gray;
    padding: 15px;
    border-radius: 5px;

    ul.informations {
        list-style: none;
        padding-left: 1em;
    }
}

section#metrics {
    div {
        position: relative;
        width: 100%;
        height: 500px;
    }

    canvas.graphs {
        background: #f9f9f9;
        margin-bottom: 1em;
    }
}