@import "_variables";

nav.nav {
    width: 100%;
    background: $primary-color;
    
    a {
        display: inline-block;
        padding: 12px 25px;
        color: #fff;
        text-decoration: none;
        transition: .2s background linear;
    }

    a:focus, a:hover { background: $primary-hover; }
}
