doctype html
html
    head
        title !{siteOptions.pageTitle} - StatsElec
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/assets/dist/app.css")


    body
        nav.nav
            a.title(href="/") StatsElec
            a(href="/") Accueil
            a(href="/list") Liste des compteurs


        //- Content appended from another pages
        block content

        //- JS files
        block javascript
            //- script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js")
            script(src="/assets/dist/app.js")
