doctype html
html
    head
        title !{siteOptions.pageTitle} - StatsElec
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        link(rel="stylesheet", href="/assets/app.css")

    body
        nav.nav
            a.title(href="/") StatsElec
            a(href="/") Accueil
            a(href="/list") Liste des compteurs
            a(href="/alerts") Liste des alertes


        //- Content appended from another pages
        block content


        //- JS files
        block javascript
            script(src="/assets/app.js")